body {
	background-image: url(img/psyco.jpg);
	font-size: medium;
	border: 2px solid black;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

#wrapper{
	margin: 2%;
    background-color: #ffffff;
    border: 10px solid black;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

h1,h2,h3,h4{
	font-family:head;
	margin-left:5%;
}	

p{
	font-family:text;
	margin-left:4%;
	font-size:20;
}

.input{
	margin-left:2%;
}

.input dt:hover{
	background-color: red;
    color: white;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

