<div class="wrapper">
    <style>
        body {
            background-color: red;
        }
    </style>
    <h1>INCORRECT PASSWORD</h1>
    <a  class="button" href="index.php" role="button">Regresar</a>
</div>