    <section class="container">
        <div class="jumbotron">
            <header><h1>Laboratorio 22</h1></header>
        </div>
        <h2>Pagos con Paypal</h2>
        <div id="paypal-button-container"></div>
        
        <p>Usuario: Ochoa8a8</br>Contraseña: Al#jandr0</p>
        <form action="login.php" method="post">
            <label for="usrname">Usuario</label>
            <input type="text" id="usrname" name="usrname" required>
            <label for="psw">Contraseña</label>
            <input type="password" id="psw" name="psw" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Requiere 1 mayuscula, 1 minuscula, 1 numero y 8 caracteres" required>
            <input type="submit" value="Enter" onclick="verify()">
        </form>
        <h1>Preguntas:</h1>
			<ol>
				<li>¿Qué ventajas y desventajas tiene la integración de tus aplicaciones web con servicios web desarrollados por terceros?
				</br>-Entre las ventajas estan:
				    <ul>
				        <li>Rapidez: El hecho de poder integrar servicios de autenticacion, mapas o imágenes en cuestion de segundos da oportunidad a centrarse
				        mas tiempo en el desarrollo de tu aplicación.</li>
				        <li>Robustez: La mayoría de las APIs mas populares han sido probados en una gran variedad de situaciones de estrés por lo que podemos
				        confiar en ellas.</li>
				        <li>Mantenimiento: Es muy probable que las grandes empresas mejoren constantemente sus APIs ya que no dejar que se deterioren sus productos
				        es una norma general.</li>
				    </ul>
				    -Entre las desventajas estan:
				    <ul>
				        <li>Condiciones: Normalmente através de la licencia de uso de las APIs uno es vulnerable a cualquier cambio de condiciones por la empresa que 
				        provee el servicio.</li>
				        <li>Disponibilidad: Uno esta expuesto a las caídas de los servicios extenos, lo que puede dejar tus servicios inutilizables, en especial
				        si dependes de ellos.</li>
				        <li>Falta de Inovación: Algunas veces ocurre que nuestra aplicación se desarrolla a un ritmo mas acelerado que la API que usa por lo que 
				        llega un punto donde la API no puede cumplir las exigencias y toca o cambiar de proveedor o desarrollar el servicio, con el costo que implica.</li>
				    </ul>
				</li>
			</ol>
    </section>
    <script type="text/javascript" src="javascripts/psw.js"></script>
    <script type="text/javascript" src="javascripts/paypal.js"></script>
    