<div class="container">
    <div class="jumbotron">
        <h1>Bienvenido <?php echo $_SESSION["usrname"] ?></h1>
        <h3><a  class="button" href="logout.php" role="button">Log out</a></br>
        <a class="button" href="add.php" role="button">Add</a></h3>
    </div>
    <?php getProductos()?>
    <?php getProductosRaw()?>
    <form action="create.php" method="post" enctype="multipart/form-data">
        <h2>Agregar producto</h2>
        <div class="form-group">
            <label for="Nombre">Nombre</label>
            <input type="text" class="form-control" id="Nombre" name="Nombre" placeholder="Bombones" required>
        </div>
        <div class="form-group">
            <label for="Cantidad">Cantidad</label>
            <input type="number" class="form-control" id="Cantidad" name="Cantidad" placeholder="100" required>
        </div>
        <div class="form-group">
            <label for="Valor">Valor</label>
            <input type="number" class="form-control" id="Valor" name="Valor" placeholder="500" required>
        </div>
        <div class="form-group">
            <label for="Imagen">Imagen</label>
            <input type="text" class="form-control" id="Imagen" name="Imagen" placeholder="bombones.jpg" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <form action="edit.php" method="post" enctype="multipart/form-data">
        <h2>Editar producto</h2>
        <div class="form-group">
            <label for="EId">ID</label>
            <input type="number" class="form-control" id="EId" name="EId" required>
        </div>
        <div class="form-group">
            <label for="ENombre">Nuevo nombre</label>
            <input type="text" class="form-control" id="ENombre" name="ENombre" placeholder="Bombones" required>
        </div>
        <div class="form-group">
            <label for="ECantidad">Nueva cantidad</label>
            <input type="number" class="form-control" id="ECantidad" name="ECantidad" placeholder="100" required>
        </div>
        <div class="form-group">
            <label for="EValor">Nuevo valor</label>
            <input type="number" class="form-control" id="EValor" name="EValor" placeholder="500" required>
        </div>
        <div class="form-group">
            <label for="EImagen">Nueva imagen</label>
            <input type="text" class="form-control" id="EImagen" name="EImagen" placeholder="bombones.jpg" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <form action="delete.php" method="post" enctype="multipart/form-data">
        <h2>Eliminar producto</h2>
        <div class="form-group">
            <label for="ELId">ID</label>
            <input type="number" class="form-control" id="ELId" name="ELId" required>
        </div>
        <div class="form-group">
            <label for="ELNombre">Nombre</label>
            <input type="text" class="form-control" id="ELNombre" name="ELNombre" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>