<div class="wrapper">
    <form action="upload.php" method="post" enctype="multipart/form-data">
        <label for="producto">
          Nombre: 
          <input id="producto" type="text" name="producto" value="Imagen">
        </label>
        
        <?php if (isset($_SESSION["error_archivo"]) != ""): ?>
            <div class="callout alert" data-closable>
              <p><?=$_SESSION["error_archivo"] ?></p>
              <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
        <?php endif; ?>
        </br></br>
        <label for="fileToUpload">
            Select image to upload
            <input type="file" name="fileToUpload" id="fileToUpload"></br>
            <input type="submit" value="Upload Image" name="submit">
        </label>
        <h3><a  class="button" href="logout.php" role="button">Log out</a></h3>
    </form>
</div>