<section class="hero">
            <div class="wrapper">
                <header><h1>Laboratorio 13</h1></header>
                </div>
        </section>
        <section class="main">
            <div class="wrapper">
                <p>Usuario: Ochoa8a8</br>Contraseña: Al#jandr0</p>
                <div class="container">
                    <form action="login.php" method="post">
                        <label for="usrname">Usuario</label>
                        <input type="text" id="usrname" name="usrname" required>
                        <label for="psw">Contraseña</label>
                        <input type="password" id="psw" name="psw" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Requiere 1 mayuscula, 1 minuscula, 1 numero y 8 caracteres" required>
                        <input type="submit" value="Enter" onclick="verify()">
                    </form>
                </div>
            </div>
            <h1>Preguntas:</h1>
				<ol>
					<li>¿Por qué es importante hacer un session_unset() y luego un session_destroy()?</br>-Es necesario usar ambas para destruir todas las variables relacionadas
					con la sesión y unsetear las variables globales.</li>
					<li>¿Cuál es la diferencia entre una variable de sesión y una cookie?</br>-Las variables de sesión son información que se guardan y modifican del lado del
					servidor mientras que las cookies se almacenan localmente.</li>
					<li>¿Qué técnicas se utilizan en sitios como facebook para que el usuario no sobreescriba sus fotos en el sistema de archivos cuando sube una foto con el mismo 
					nombre?</br>Reenombrar el archivo para poder guardarlo correctamente, usando tablas de hash.</li>
					<li>¿Qué es CSRF y cómo puede prevenirse?</br>-Es una forma de forzar a un usuario autenticado a realizar acciones con su login </li>
				</ol>
        </section>
        <script src="psw.js"></script>
    