<div class="wrapper">
    <h1>Bienvenido <?php echo $_SESSION["usrname"] ?>
    </br>Login correcto, felicidades</h1>
    <h3><a  class="button" href="logout.php" role="button">Log out</a></br>
    <a class="button" href="add.php" role="button">Add</a></h3>
    <br>
    <img src='<?=$_SESSION["ruta archivo"]?>' alt="Imagen aqui"><?php echo $_SESSION["producto"]?> 
</div>