<section class="hero">
            <div class="wrapper">
                <header><h1>Laboratorio 13</h1></header>
                </div>
        </section>
        <section class="main">
            <div class="wrapper">
                <p>Usuario: Ochoa8a8</br>Contraseña: Al#jandr0</p>
                <div class="container">
                    <form action="login.php" method="post">
                        <label for="usrname">Usuario</label>
                        <input type="text" id="usrname" name="usrname" required>
                        <label for="psw">Contraseña</label>
                        <input type="password" id="psw" name="psw" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Requiere 1 mayuscula, 1 minuscula, 1 numero y 8 caracteres" required>
                        <input type="submit" value="Enter" onclick="verify()">
                    </form>
                </div>
            </div>
            <h1>Preguntas:</h1>
				<ol>
					
				</ol>
        </section>
        <script src="psw.js"></script>
    