body {
	background-image: url(img/psyco.jpg);
	font-size: medium;
	border: 2px solid black;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

#wrapper{
	margin: 2%;
    background-color: #ffffff;
    border: 10px solid black;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

h1,h2,h3,h4{
	font-family:head;
	margin-left:5%;
}	

p{
	font-family:text;
	margin-left:4%;
	font-size:20;
}

.container {
    overflow: hidden;
    background-color: gray;
    font-family: Arial;
}

.container a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
	font-weight: bold;
    cursor: pointer;
    font-size: 16px;    
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
}

.container a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

img{
	width: 20%;
}

.pro{
	grid-auto-columns: auto;
	margin-left: 15px;
}

#agua{
	opacity:0.6;
}

.active{
  color: green;
}

.mystyle {
    width: 100%;
    padding: 25px;
    background-color: coral;
    color: white;
    font-size: 25px;
    box-sizing: border-box;
}

#div1,#div2,#div3 {
    width: 350px;
    height: 70px;
    padding: 10px;
    border: 1px solid #aaaaaa;
}